# .NET Core
bin/
obj/

# Arquivos de log
*.log

# Dependências gerenciadas pelo NuGet
## (opcionalmente, você pode adicionar o diretório 'packages/' se você não estiver usando o PackageReference)
*/.nuget/
*/packages/

# Arquivos de publicação
**/bin/
**/obj/

# Arquivos de usuário Visual Studio
**/*.user
**/*.vspscc
**/*.vssscc
*.suo
*.userprefs
*.bak
*.cache
*.vsix.state